@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
:root {
  /* Primary */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Secondary */
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-grey: hsl(0, 0%, 98%);

  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--very-light-grey);
  margin: 0 auto;
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  margin: 70px auto;
  max-width: 315px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.top-content {
  color: var(--very-dark-blue);
}
.top-content h1 {
  font-size: 24px;
  font-weight: 200;
}
.top-content span {
  font-weight: 600;
}
.top-content p {
  color: var(--grayish-blue);
  font-weight: 400;
  margin: 16px auto 75px;
}
.card {
  display: flex;
  max-width: 315px;
  box-shadow: 0px 10px 15px 0px hsla(229, 6%, 66%, 0.4);
  margin-bottom: 25px;
  border-radius: 10px;
  overflow: hidden;
}
.cyan {
  background-color: var(--cyan);
}
.red {
  background-color: var(--red);
}
.orange {
  background-color: var(--orange);
}
.blue {
  background-color: var(--blue);
}
.card__content {
  width: 100%;
  text-align: left;
  background-color: white;
  margin: 4px auto auto;
  padding: 25px 30px;
}
.card__content h2 {
  color: var(--very-dark-blue);
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}
.card__content p {
  font-size: 13px;
  color: var(--grayish-blue);
  margin: 13px auto 35px;
}
.card__icon {
  text-align: right;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .top-content {
    max-width: 535px;
    margin: 0 auto;
  }
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
  }
  .card-stack {
    grid-row: span 2;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    min-width: 1100px;
  }
  .top-content {
    max-width: 535px;
    margin: 0 auto;
  }
  .top-content h1 {
    font-size: 36px;
  }
  .card-container {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }
  .card {
    max-width: 350px;
  }
}
